<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-5 m" v-for="(region, index ) in regions_line1" :key="index">
        <div class="card">
          <div class="card-title mb-2 mt-2">
            <h3>{{ region.name }}</h3>
          </div >
          <div class="card-body">
            <img :src="region.region_data.carte_photo" class="img-circle"/>

          </div>

        </div>

        

      </div>

    </div>
    <div class="row mt-5 center">
      <div class="col col-4" v-for="(region, index ) in regions_line2" :key="index">

        <h3>{{ name }}</h3>

      </div>

    </div>
   
    <Home />
  </div>
  
</template>

<script>
import Home from './components/HomePage'

export default {
  name: 'App',
  components: {
    Home
  },
  data: function () {
    const file = require("./config.json")
    return {
      file,
      regions_line1: [],
      regions_line2: []      
    }
  },
  mounted: function(){
    let regions = []
     Object.keys(this.file).forEach(key => {
      console.log(key)
      regions.push({name: key, region_data: this.file[key]
      })
      
    })
    console.log(regions)
    this.regions_line1 = regions.slice(0,3)
    this.regions_line2 = regions.slice(3)

  },
  methods: {
    getImg(src) {
      if(src == undefined) return ""
      return require(src)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.img-circle {
   width: 35%;
   height:35%;
   border: none;
   border-radius: 50%;
}
</style>
